.body {
	margin: 0;
	padding: 0;
}
.header {
	background-color: #000;
	height: 200px;
}
.header .navbar-default {
	background-color: #949599;
	border-color: #949599;	
	color: #fff;
}
.header .navbar-default .navbar-nav>li>a {
	color: #fff;
	font-size: 16px;
}
.header-caption h1 {
	color: #fff;
	margin-top: 45px;
}
.media-row {
	padding: 50px 0;
}
.media-container {
	height: 400px;
}
.media-container audio {
	margin-top: 70px;
}
.media-video,
.embed-pdf {
	border-color: #A2E8F9 #65BFF5 #C8C1C1 #000;
    border-style: solid;
    border-width: 2px;
    border-left: 4px solid #009D02;
}
.embed-pdf {
	margin: 10px 0;
    padding: 10px 45px 20px 20px;
	margin-bottom: 50px;
}
.output {
	display: block;
    background-color: #fff;
    color: #000;
    font-family: "Open Sans",Arial,sans-serif;
    font-size: 14px;
    line-height: 1.6em;
    overflow: auto;
    max-height: 1300px;
    border-color: #A2E8F9 #65BFF5 #C8C1C1 #000;
    border-style: solid;
    border-width: 2px;
    margin: 10px 0 10px 0;
    padding: 10px 45px 20px 20px;
    border-left: 4px solid #009D02;
}